# Predicting House Sale Prices

In [26]:
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.model_selection import KFold
from sklearn.metrics import mean_squared_error
from sklearn import linear_model
from sklearn.model_selection import KFold

import numpy as np

In [27]:
df = pd.read_csv("AmesHousing.tsv", delimiter="\t")

In [28]:
df.head()

,Order,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,Sale Condition,SalePrice
0,1,526301100,20,RL,141.0,31770,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,NaN,0,5,2010,WD,Normal,215000
1,2,526350040,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,...,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal,105000
2,3,526351010,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal,172000
3,4,526353030,20,RL,93.0,11160,Pave,NaN,Reg,Lvl,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,244000
4,5,527105010,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,...,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal,189900

In [29]:
df.columns

Index(['Order', 'PID', 'MS SubClass', 'MS Zoning', 'Lot Frontage', 'Lot Area',
       'Street', 'Alley', 'Lot Shape', 'Land Contour', 'Utilities',
       'Lot Config', 'Land Slope', 'Neighborhood', 'Condition 1',
       'Condition 2', 'Bldg Type', 'House Style', 'Overall Qual',
       'Overall Cond', 'Year Built', 'Year Remod/Add', 'Roof Style',
       'Roof Matl', 'Exterior 1st', 'Exterior 2nd', 'Mas Vnr Type',
       'Mas Vnr Area', 'Exter Qual', 'Exter Cond', 'Foundation', 'Bsmt Qual',
       'Bsmt Cond', 'Bsmt Exposure', 'BsmtFin Type 1', 'BsmtFin SF 1',
       'BsmtFin Type 2', 'BsmtFin SF 2', 'Bsmt Unf SF', 'Total Bsmt SF',
       'Heating', 'Heating QC', 'Central Air', 'Electrical', '1st Flr SF',
       '2nd Flr SF', 'Low Qual Fin SF', 'Gr Liv Area', 'Bsmt Full Bath',
       'Bsmt Half Bath', 'Full Bath', 'Half Bath', 'Bedroom AbvGr',
       'Kitchen AbvGr', 'Kitchen Qual', 'TotRms AbvGrd', 'Functional',
       'Fireplaces', 'Fireplace Qu', 'Garage Type', 'Garage Yr Blt',
       'Garage Finish', 'Garage Cars', 'Garage Area', 'Garage Qual',
       'Garage Cond', 'Paved Drive', 'Wood Deck SF', 'Open Porch SF',
       'Enclosed Porch', '3Ssn Porch', 'Screen Porch', 'Pool Area', 'Pool QC',
       'Fence', 'Misc Feature', 'Misc Val', 'Mo Sold', 'Yr Sold', 'Sale Type',
       'Sale Condition', 'SalePrice'],
      dtype='object')

In [30]:
def select_features(df):
    return df[["Gr Liv Area", "SalePrice"]]

## arranges train and test datas and finds rmse for test data
def train_and_test(df):  
    train = df[:1460]
    test = df[1460:]
    
    numeric_train = train.select_dtypes(include=["integer", "float"])
    numeric_test = test.select_dtypes(include=["integer", "float"])
    
    features = numeric_train.columns.drop("SalePrice")
    lr = linear_model.LinearRegression()
    lr.fit(train[features], train["SalePrice"])
    predictions = lr.predict(test[features])
    mse = mean_squared_error(test["SalePrice"], predictions)
    rmse = np.sqrt(mse)
    
    return rmse

filtered_df = select_features(df)
rmse = train_and_test(filtered_df)

rmse

57088.25161263909

## Arranging Features

Some columns will be dropped.

In [31]:
num_missing = df.isnull().sum()
print(num_missing)
drop_missing_cols = num_missing[(num_missing > len(df)/20)].sort_values()
df = df.drop(drop_missing_cols.index, axis=1)

Order                0
PID                  0
MS SubClass          0
MS Zoning            0
Lot Frontage       490
Lot Area             0
Street               0
Alley             2732
Lot Shape            0
Land Contour         0
Utilities            0
Lot Config           0
Land Slope           0
Neighborhood         0
Condition 1          0
Condition 2          0
Bldg Type            0
House Style          0
Overall Qual         0
Overall Cond         0
Year Built           0
Year Remod/Add       0
Roof Style           0
Roof Matl            0
Exterior 1st         0
Exterior 2nd         0
Mas Vnr Type        23
Mas Vnr Area        23
Exter Qual           0
Exter Cond           0
                  ...
Bedroom AbvGr        0
Kitchen AbvGr        0
Kitchen Qual         0
TotRms AbvGrd        0
Functional           0
Fireplaces           0
Fireplace Qu      1422
Garage Type        157
Garage Yr Blt      159
Garage Finish      159
Garage Cars          1
Garage Area          1
Garage Qual        159
Garage Cond        159
Paved Drive          0
Wood Deck SF         0
Open Porch SF        0
Enclosed Porch       0
3Ssn Porch           0
Screen Porch         0
Pool Area            0
Pool QC           2917
Fence             2358
Misc Feature      2824
Misc Val             0
Mo Sold              0
Yr Sold              0
Sale Type            0
Sale Condition       0
SalePrice            0
Length: 82, dtype: int64

In [32]:
text_mv_counts = df.select_dtypes(include=["object"]).isnull().sum().sort_values(ascending=False)
print(text_mv_counts)
drop_missing_cols_2 = text_mv_counts[text_mv_counts > 0]
df = df.drop(drop_missing_cols_2.index, axis=1)

Bsmt Exposure     83
BsmtFin Type 2    81
BsmtFin Type 1    80
Bsmt Qual         80
Bsmt Cond         80
Mas Vnr Type      23
Electrical         1
Utilities          0
Lot Config         0
Land Slope         0
Roof Matl          0
Land Contour       0
Lot Shape          0
Street             0
Neighborhood       0
Condition 1        0
Condition 2        0
Bldg Type          0
House Style        0
Roof Style         0
Sale Condition     0
Exterior 1st       0
Exterior 2nd       0
Sale Type          0
Exter Qual         0
Exter Cond         0
Foundation         0
Heating            0
Heating QC         0
Central Air        0
Kitchen Qual       0
Functional         0
Paved Drive        0
MS Zoning          0
dtype: int64

In [33]:
num_missing = df.select_dtypes(include=["int", "float"]).isnull().sum()
print(num_missing)
fixable_numeric_cols = num_missing[(num_missing < len(df)/20) & (num_missing > 0)].sort_values()
fixable_numeric_cols

Mas Vnr Area      23
BsmtFin SF 1       1
BsmtFin SF 2       1
Bsmt Unf SF        1
Total Bsmt SF      1
Bsmt Full Bath     2
Bsmt Half Bath     2
Garage Cars        1
Garage Area        1
dtype: int64

BsmtFin SF 1       1
BsmtFin SF 2       1
Bsmt Unf SF        1
Total Bsmt SF      1
Garage Cars        1
Garage Area        1
Bsmt Full Bath     2
Bsmt Half Bath     2
Mas Vnr Area      23
dtype: int64

In [34]:
replacement_values_dict = df[fixable_numeric_cols.index].mode().to_dict(orient="records")[0]
replacement_values_dict

{'BsmtFin SF 1': 0.0,
 'BsmtFin SF 2': 0.0,
 'Bsmt Unf SF': 0.0,
 'Total Bsmt SF': 0.0,
 'Garage Cars': 2.0,
 'Garage Area': 0.0,
 'Bsmt Full Bath': 0.0,
 'Bsmt Half Bath': 0.0,
 'Mas Vnr Area': 0.0}

In [35]:
df = df.fillna(replacement_values_dict)
df.isnull().sum().value_counts()

0    64
dtype: int64

In [36]:
years_sold = df["Yr Sold"] - df["Year Built"]
years_sold[years_sold < 0]

2180   -1
dtype: int64

In [37]:
years_since_remod = df["Yr Sold"] - df["Year Remod/Add"]
years_since_remod[years_since_remod < 0]

1702   -1
2180   -2
2181   -1
dtype: int64

In [38]:
df["Years Before Sale"] = years_sold
df["Years Since Remod"] = years_since_remod

df = df.drop([1702, 2180, 2181], axis=0)

df = df.drop(["Year Built", "Year Remod/Add"], axis = 1)

In [39]:
# these columns are not useful
df = df.drop(["PID", "Order"], axis=1)

# these columns leak data
df = df.drop(["Mo Sold", "Sale Condition", "Sale Type", "Yr Sold"], axis=1)

In [40]:
## updating function of transform_features

def transform_features(df):
    num_missing = df.isnull().sum()
    drop_missing_cols = num_missing[(num_missing > len(df)/20)].sort_values()
    df = df.drop(drop_missing_cols.index, axis=1)
    
    text_mv_counts = df.select_dtypes(include=["object"]).isnull().sum().sort_values(ascending=False)
    drop_missing_cols_2 = text_mv_counts[text_mv_counts > 0]
    df = df.drop(drop_missing_cols_2.index, axis=1)
    
    num_missing = df.select_dtypes(include=["int", "float"]).isnull().sum()
    fixable_numeric_cols = num_missing[(num_missing < len(df)/20) & (num_missing > 0)].sort_values()
    replacement_values_dict = df[fixable_numeric_cols.index].mode().to_dict(orient="records")[0]
    df = df.fillna(replacement_values_dict)
    
    years_sold = df["Yr Sold"] - df["Year Built"]
    years_since_remod = df["Yr Sold"] - df["Year Remod/Add"]
    df["Years Before Sale"] = years_sold
    df["Years Since Remod"] = years_since_remod
    df = df.drop([1702, 2180, 2181], axis=0)

    df = df.drop(["PID", "Order", "Mo Sold", "Sale Condition", "Sale Type", "Year Built", "Year Remod/Add"], axis=1)
    return df

def select_features(df):
    return df[["Gr Liv Area", "SalePrice"]]

def train_and_test(df):  
    train = df[:1460]
    test = df[1460:]
    
    numeric_train = train.select_dtypes(include=["integer", "float"])
    numeric_test = test.select_dtypes(include=["integer", "float"])
    
    features = numeric_train.columns.drop("SalePrice")
    lr = linear_model.LinearRegression()
    lr.fit(train[features], train["SalePrice"])
    predictions = lr.predict(test[features])
    mse = mean_squared_error(test["SalePrice"], predictions)
    rmse = np.sqrt(mse)
    
    return rmse

df = pd.read_csv("AmesHousing.tsv", delimiter="\t")
transform_df = transform_features(df)
filtered_df = select_features(transform_df)
rmse = train_and_test(filtered_df)

rmse

55275.367312413066

## Feature Selection

In [41]:
numerical_df = transform_df.select_dtypes(include=["int", "float"])
numerical_df

,Mas Vnr Area,BsmtFin SF 1,BsmtFin SF 2,Bsmt Unf SF,Total Bsmt SF,Bsmt Full Bath,Bsmt Half Bath,Garage Cars,Garage Area
0,112.0,639.0,0.0,441.0,1080.0,1.0,0.0,2.0,528.0
1,0.0,468.0,144.0,270.0,882.0,0.0,0.0,1.0,730.0
2,108.0,923.0,0.0,406.0,1329.0,0.0,0.0,1.0,312.0
3,0.0,1065.0,0.0,1045.0,2110.0,1.0,0.0,2.0,522.0
4,0.0,791.0,0.0,137.0,928.0,0.0,0.0,2.0,482.0
5,20.0,602.0,0.0,324.0,926.0,0.0,0.0,2.0,470.0
6,0.0,616.0,0.0,722.0,1338.0,1.0,0.0,2.0,582.0
7,0.0,263.0,0.0,1017.0,1280.0,0.0,0.0,2.0,506.0
8,0.0,1180.0,0.0,415.0,1595.0,1.0,0.0,2.0,608.0
9,0.0,0.0,0.0,994.0,994.0,0.0,0.0,2.0,442.0
10,0.0,0.0,0.0,763.0,763.0,0.0,0.0,2.0,440.0
11,0.0,935.0,0.0,233.0,1168.0,1.0,0.0,2.0,420.0
12,0.0,0.0,0.0,789.0,789.0,0.0,0.0,2.0,393.0
13,0.0,637.0,0.0,663.0,1300.0,1.0,0.0,2.0,506.0
14,0.0,368.0,1120.0,0.0,1488.0,1.0,0.0,2.0,528.0
15,603.0,1416.0,0.0,234.0,1650.0,1.0,0.0,3.0,841.0
16,0.0,427.0,0.0,132.0,559.0,0.0,0.0,2.0,492.0
17,350.0,1445.0,0.0,411.0,1856.0,1.0,0.0,3.0,834.0
18,0.0,120.0,0.0,744.0,864.0,0.0,0.0,2.0,400.0
19,119.0,790.0,163.0,589.0,1542.0,1.0,0.0,2.0,500.0
20,480.0,705.0,0.0,1139.0,1844.0,0.0,0.0,2.0,546.0
21,81.0,885.0,168.0,0.0,1053.0,1.0,0.0,2.0,528.0
22,0.0,533.0,0.0,281.0,814.0,1.0,0.0,2.0,663.0
23,180.0,578.0,0.0,426.0,1004.0,1.0,0.0,2.0,480.0
24,0.0,734.0,0.0,344.0,1078.0,1.0,0.0,2.0,500.0
25,0.0,775.0,0.0,281.0,1056.0,1.0,0.0,1.0,304.0
26,0.0,804.0,78.0,0.0,882.0,1.0,0.0,2.0,525.0
27,0.0,432.0,0.0,432.0,864.0,0.0,0.0,0.0,0.0
28,0.0,1051.0,0.0,354.0,1405.0,1.0,0.0,2.0,511.0
29,504.0,156.0,0.0,327.0,483.0,0.0,0.0,1.0,264.0
...,...,...,...,...,...,...,...,...,...
2900,198.0,1350.0,0.0,378.0,1728.0,1.0,0.0,3.0,714.0
2901,208.0,1460.0,0.0,408.0,1868.0,1.0,0.0,3.0,880.0
2902,382.0,1455.0,0.0,383.0,1838.0,1.0,0.0,3.0,682.0
2903,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,270.0
2904,200.0,1243.0,0.0,45.0,1288.0,2.0,0.0,4.0,784.0
2905,116.0,897.0,0.0,319.0,1216.0,1.0,0.0,2.0,402.0
2906,443.0,1201.0,0.0,36.0,1237.0,1.0,0.0,2.0,405.0
2907,0.0,0.0,0.0,1140.0,1140.0,0.0,0.0,0.0,0.0
2908,0.0,0.0,0.0,264.0,264.0,0.0,0.0,1.0,336.0
2909,0.0,548.0,173.0,36.0,757.0,0.0,0.0,1.0,336.0
2910,0.0,837.0,0.0,105.0,942.0,1.0,0.0,2.0,576.0
2911,0.0,441.0,0.0,423.0,864.0,1.0,0.0,1.0,288.0
2912,0.0,149.0,0.0,1503.0,1652.0,0.0,0.0,3.0,928.0
2913,0.0,522.0,0.0,108.0,630.0,1.0,0.0,0.0,0.0
2914,0.0,252.0,0.0,294.0,546.0,0.0,0.0,1.0,253.0
2915,194.0,119.0,344.0,641.0,1104.0,1.0,0.0,1.0,336.0
2916,0.0,553.0,0.0,77.0,630.0,1.0,0.0,0.0,0.0
2917,0.0,408.0,0.0,138.0,546.0,0.0,0.0,1.0,286.0
2918,0.0,0.0,0.0,546.0,546.0,0.0,0.0,0.0,0.0
2919,0.0,0.0,0.0,546.0,546.0,0.0,0.0,0.0,0.0
2920,0.0,252.0,0.0,294.0,546.0,0.0,0.0,1.0,286.0
2921,0.0,936.0,396.0,396.0,1728.0,0.0,0.0,2.0,574.0
2922,0.0,1606.0,0.0,122.0,1728.0,2.0,0.0,2.0,560.0
2923,0.0,936.0,0.0,190.0,1126.0,1.0,0.0,2.0,484.0
2924,0.0,1224.0,0.0,0.0,1224.0,1.0,0.0,2.0,576.0
2925,0.0,819.0,0.0,184.0,1003.0,1.0,0.0,2.0,588.0
2926,0.0,301.0,324.0,239.0,864.0,1.0,0.0,2.0,484.0
2927,0.0,337.0,0.0,575.0,912.0,0.0,1.0,0.0,0.0
2928,0.0,1071.0,123.0,195.0,1389.0,1.0,0.0,2.0,418.0
2929,94.0,758.0,0.0,238.0,996.0,0.0,0.0,3.0,650.0

In [42]:
nominal_features = ["PID", "MS SubClass", "MS Zoning", "Street", "Alley", "Land Contour", "Lot Config", "Neighborhood", 
                    "Condition 1", "Condition 2", "Bldg Type", "House Style", "Roof Style", "Roof Matl", "Exterior 1st", 
                    "Exterior 2nd", "Mas Vnr Type", "Foundation", "Heating", "Central Air", "Garage Type", 
                    "Misc Feature", "Sale Type", "Sale Condition"]

In [43]:
transform_cat_cols = []
for col in nominal_features:
    if col in transform_df.columns:
        transform_cat_cols.append(col)

uniqueness_counts = transform_df[transform_cat_cols].apply(lambda col: len(col.value_counts())).sort_values()
print(uniqueness_counts)
drop_nonuniq_cols = uniqueness_counts[uniqueness_counts > 10].index
transform_df = transform_df.drop(drop_nonuniq_cols, axis=1)

Central Air      2
Street           2
Land Contour     4
Lot Config       5
Bldg Type        5
Heating          6
Roof Style       6
Foundation       6
MS Zoning        7
Condition 2      8
House Style      8
Roof Matl        8
Condition 1      9
Exterior 1st    16
MS SubClass     16
Exterior 2nd    17
Neighborhood    28
dtype: int64

In [44]:
text_cols = transform_df.select_dtypes(include=["object"])
for col in text_cols:
    transform_df[col] = transform_df[col].astype("category")
    
print(transform_df.head())
    
transform_df = pd.concat([
    transform_df, 
    pd.get_dummies(transform_df.select_dtypes(include=["category"]))
], axis=1)

  MS Zoning  Lot Area Street Lot Shape Land Contour Utilities Lot Config  \
0        RL     31770   Pave       IR1          Lvl    AllPub     Corner
1        RH     11622   Pave       Reg          Lvl    AllPub     Inside
2        RL     14267   Pave       IR1          Lvl    AllPub     Corner
3        RL     11160   Pave       Reg          Lvl    AllPub     Corner
4        RL     13830   Pave       IR1          Lvl    AllPub     Inside

  Land Slope Condition 1 Condition 2        ...        Open Porch SF  \
0        Gtl        Norm        Norm        ...                   62
1        Gtl       Feedr        Norm        ...                    0
2        Gtl        Norm        Norm        ...                   36
3        Gtl        Norm        Norm        ...                    0
4        Gtl        Norm        Norm        ...                   34

  Enclosed Porch  3Ssn Porch  Screen Porch Pool Area Misc Val  Yr Sold  \
0              0           0             0         0        0     2010
1              0           0           120         0        0     2010
2              0           0             0         0    12500     2010
3              0           0             0         0        0     2010
4              0           0             0         0        0     2010

  SalePrice Years Before Sale Years Since Remod
0    215000                50                50
1    105000                49                49
2    172000                52                52
3    244000                42                42
4    189900                13                12

[5 rows x 55 columns]

In [46]:
transform_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2927 entries, 0 to 2929
Columns: 171 entries, MS Zoning to Paved Drive_Y
dtypes: category(22), float64(9), int64(24), uint8(116)
memory usage: 1.1 MB

In [47]:
transform_df.describe()

,Lot Area,Overall Qual,Overall Cond,Mas Vnr Area,BsmtFin SF 1,BsmtFin SF 2,Bsmt Unf SF,Total Bsmt SF,1st Flr SF,2nd Flr SF,...,Functional_Maj2,Functional_Min1,Functional_Min2,Functional_Mod,Functional_Sal,Functional_Sev,Functional_Typ,Paved Drive_N,Paved Drive_P,Paved Drive_Y
count,2927.000000,2927.000000,2927.000000,2927.000000,2927.000000,2927.000000,2927.000000,2927.000000,2927.000000,2927.000000,...,2927.000000,2927.000000,2927.000000,2927.000000,2927.000000,2927.000000,2927.000000,2927.000000,2927.000000,2927.000000
mean,10125.510079,6.091561,5.563717,100.522036,440.789887,49.756406,558.433550,1048.979843,1157.392894,335.079604,...,0.003075,0.022207,0.023915,0.011958,0.000683,0.000683,0.930987,0.073796,0.021182,0.905022
std,7845.165709,1.407608,1.111960,177.084672,449.692546,169.221285,439.211428,432.982713,383.457136,427.971288,...,0.055375,0.147381,0.152811,0.108714,0.026135,0.026135,0.253519,0.261483,0.144016,0.293234
min,1300.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,334.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,7439.000000,5.000000,5.000000,0.000000,0.000000,0.000000,218.500000,792.500000,876.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000
50%,9430.000000,6.000000,5.000000,0.000000,370.000000,0.000000,464.000000,990.000000,1083.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000
75%,11523.000000,7.000000,6.000000,162.000000,734.000000,0.000000,801.000000,1300.000000,1383.000000,703.500000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000
max,215245.000000,10.000000,9.000000,1600.000000,5644.000000,1526.000000,2336.000000,6110.000000,4692.000000,2065.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [48]:
transform_df.isnull().sum()

MS Zoning          0
Lot Area           0
Street             0
Lot Shape          0
Land Contour       0
Utilities          0
Lot Config         0
Land Slope         0
Condition 1        0
Condition 2        0
Bldg Type          0
House Style        0
Overall Qual       0
Overall Cond       0
Roof Style         0
Roof Matl          0
Mas Vnr Area       0
Exter Qual         0
Exter Cond         0
Foundation         0
BsmtFin SF 1       0
BsmtFin SF 2       0
Bsmt Unf SF        0
Total Bsmt SF      0
Heating            0
Heating QC         0
Central Air        0
1st Flr SF         0
2nd Flr SF         0
Low Qual Fin SF    0
                  ..
Foundation_Wood    0
Heating_Floor      0
Heating_GasA       0
Heating_GasW       0
Heating_Grav       0
Heating_OthW       0
Heating_Wall       0
Heating QC_Ex      0
Heating QC_Fa      0
Heating QC_Gd      0
Heating QC_Po      0
Heating QC_TA      0
Central Air_N      0
Central Air_Y      0
Kitchen Qual_Ex    0
Kitchen Qual_Fa    0
Kitchen Qual_Gd    0
Kitchen Qual_Po    0
Kitchen Qual_TA    0
Functional_Maj1    0
Functional_Maj2    0
Functional_Min1    0
Functional_Min2    0
Functional_Mod     0
Functional_Sal     0
Functional_Sev     0
Functional_Typ     0
Paved Drive_N      0
Paved Drive_P      0
Paved Drive_Y      0
Length: 171, dtype: int64

In [45]:
train_and_test(transform_df)

rmse

55275.367312413066